$logo_name: #2D3436;
$purple: #6C5CE7;

$dot_color:#FDCB6E;


$primary_heading_color: #2D3436;
$fine_color: #D63031;
$fine_bg: #55EFC4;

$icon_pink: #E84393;
$icon_blue: #0984E3;

$icon_green: #00B894;

$light_gray: #ADADAD;

$bg_gray:#C2C2C2;