.primary-heading {  
    font-weight: 800;
    font-size: 9.6rem;
    line-height: 10.4rem;
    letter-spacing: -3px;
    color: $primary_heading_color;
    text-shadow: 0px 4px 0px #FFFFFF;
}

.combine-image-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;     
    letter-spacing: -1px;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px #000000;
    padding: 1.6rem;
}