.icon--phone {
    background-color: $icon_pink;
    background-image: url('../img/icon-phone-call.svg');
}

.icon--pie-chart {
    background-color: $icon_blue;
    background-image: url('../img/icon-pie-chart.svg');
}

.icon--zap {
    background-color: $icon_green;
    background-image: url('../img/icon-zap.svg');
}

.icon--thumbs-up{
    background-color: $purple;
    background-image: url('../img/icon-thumbs-up.svg');
}